<a href="https://colab.research.google.com/github/HunterAshby/ShopifyInternChallenge/blob/main/Shopify_DS_Intern_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Question 1
Exploratory Data Analysis Using Mean

In [393]:
import pandas as pd
import numpy as np
from scipy import stats
import plotly.express as px

In [394]:
df = pd.read_csv("https://raw.githubusercontent.com/HunterAshby/ShopifyInternChallenge/main/2019%20Winter%20Data%20Science%20Intern%20Challenge%20Data%20Set%20-%20Sheet1.csv")

In [395]:
x = df["order_amount"].value_counts().index.to_list()
y = df["order_amount"].value_counts().to_list()
fig = px.bar(x=x, y=y)
fig.show()

In [396]:
df.head()

   order_id  shop_id  user_id  ...  total_items  payment_method           created_at
0         1       53      746  ...            2            cash  2017-03-13 12:36:56
1         2       92      925  ...            1            cash  2017-03-03 17:38:52
2         3       44      861  ...            1            cash   2017-03-14 4:23:56
3         4       18      935  ...            1     credit_card  2017-03-26 12:43:37
4         5       18      883  ...            1     credit_card   2017-03-01 4:35:11

[5 rows x 7 columns]

In [397]:
aov = df["order_amount"].sum() / len(df)
aov

3145.128

In [398]:
df.loc[df["order_amount"] == df["order_amount"].max()]

      order_id  shop_id  ...  payment_method          created_at
15          16       42  ...     credit_card  2017-03-07 4:00:00
60          61       42  ...     credit_card  2017-03-04 4:00:00
520        521       42  ...     credit_card  2017-03-02 4:00:00
1104      1105       42  ...     credit_card  2017-03-24 4:00:00
1362      1363       42  ...     credit_card  2017-03-15 4:00:00
1436      1437       42  ...     credit_card  2017-03-11 4:00:00
1562      1563       42  ...     credit_card  2017-03-19 4:00:00
1602      1603       42  ...     credit_card  2017-03-17 4:00:00
2153      2154       42  ...     credit_card  2017-03-12 4:00:00
2297      2298       42  ...     credit_card  2017-03-07 4:00:00
2835      2836       42  ...     credit_card  2017-03-28 4:00:00
2969      2970       42  ...     credit_card  2017-03-28 4:00:00
3332      3333       42  ...     credit_card  2017-03-24 4:00:00
4056      4057       42  ...     credit_card  2017-03-28 4:00:00
4646      4647       42  ...     credit_card  2017-03-02 4:00:00
4868      4869       42  ...     credit_card  2017-03-22 4:00:00
4882      4883       42  ...     credit_card  2017-03-25 4:00:00

[17 rows x 7 columns]

In [399]:
df.loc[df["order_amount"] == df["order_amount"].min()]

      order_id  shop_id  ...  payment_method           created_at
1            2       92  ...            cash  2017-03-03 17:38:52
158        159       92  ...     credit_card   2017-03-29 3:07:12
228        229       92  ...           debit  2017-03-13 23:57:51
322        323       92  ...           debit   2017-03-08 3:49:15
590        591       92  ...           debit  2017-03-28 22:56:23
1843      1844       92  ...           debit   2017-03-06 7:01:09
2092      2093       92  ...           debit   2017-03-04 6:44:05
2503      2504       92  ...     credit_card   2017-03-28 2:30:26
3187      3188       92  ...     credit_card  2017-03-08 18:16:25
3200      3201       92  ...            cash  2017-03-25 15:14:50
3363      3364       92  ...     credit_card  2017-03-11 23:20:31
3871      3872       92  ...           debit   2017-03-18 9:10:08
4183      4184       92  ...           debit   2017-03-26 4:22:39
4219      4220       92  ...     credit_card  2017-03-25 20:16:58
4414      4415       92  ...     credit_card   2017-03-17 9:57:01
4760      4761       92  ...           debit   2017-03-20 7:37:28
4923      4924       92  ...     credit_card   2017-03-09 5:05:11
4932      4933       92  ...     credit_card   2017-03-24 2:17:13

[18 rows x 7 columns]

In [400]:
#Outliers are the culprit in this dataset, so we need to remove them

In [401]:
df.describe()

          order_id      shop_id      user_id   order_amount  total_items
count  5000.000000  5000.000000  5000.000000    5000.000000   5000.00000
mean   2500.500000    50.078800   849.092400    3145.128000      8.78720
std    1443.520003    29.006118    87.798982   41282.539349    116.32032
min       1.000000     1.000000   607.000000      90.000000      1.00000
25%    1250.750000    24.000000   775.000000     163.000000      1.00000
50%    2500.500000    50.000000   849.000000     284.000000      2.00000
75%    3750.250000    75.000000   925.000000     390.000000      3.00000
max    5000.000000   100.000000   999.000000  704000.000000   2000.00000

In [402]:
#This will drop anything 2 standard deviations away from the mean in the order amount column
df = df[(np.abs(stats.zscore(df["order_amount"])) < 2)]

In [403]:
aov = df["order_amount"].sum() / len(df)
aov

702.7484440875327

In [404]:
x = df["order_amount"].value_counts().index.to_list()
y = df["order_amount"].value_counts().to_list()
fig = px.bar(x=x, y=y)
fig.show()

In [405]:
#The aov is still quite high, so here I am checkin to see the max value in the
#order amount column
df.loc[df["order_amount"] == df["order_amount"].max()]

      order_id  shop_id  ...  payment_method           created_at
1259      1260       78  ...     credit_card   2017-03-27 9:27:20
2564      2565       78  ...           debit   2017-03-25 1:19:35
2690      2691       78  ...           debit   2017-03-22 7:33:25
2906      2907       78  ...           debit   2017-03-16 3:45:46
3403      3404       78  ...           debit   2017-03-16 9:45:05
3724      3725       78  ...     credit_card  2017-03-16 14:13:26
4192      4193       78  ...     credit_card   2017-03-18 9:25:32
4420      4421       78  ...           debit  2017-03-09 15:21:35
4715      4716       78  ...           debit   2017-03-05 5:10:44

[9 rows x 7 columns]

In [406]:
df.describe()

          order_id      shop_id      user_id  order_amount  total_items
count  4981.000000  4981.000000  4981.000000   4981.000000  4981.000000
mean   2501.425216    50.095162   849.915880    702.748444     1.992773
std    1443.152284    29.052172    86.816531   4627.726634     0.981326
min       1.000000     1.000000   700.000000     90.000000     1.000000
25%    1251.000000    24.000000   776.000000    163.000000     1.000000
50%    2503.000000    50.000000   850.000000    284.000000     2.000000
75%    3751.000000    75.000000   925.000000    390.000000     3.000000
max    5000.000000   100.000000   999.000000  77175.000000     8.000000

In [407]:
#77175 is still unreasonably high so we run the SD drop again
df = df[(np.abs(stats.zscore(df["order_amount"])) < 2)]

In [408]:
#Now the aov seems to be a reasonable a value.
aov = df["order_amount"].sum() / len(df)
aov

302.58051448247926

In [409]:
#To make sure everything is good, I check the max value again
df.loc[df["order_amount"] == df["order_amount"].max()]

      order_id  shop_id  ...  payment_method          created_at
1364      1365       42  ...            cash  2017-03-10 6:28:21

[1 rows x 7 columns]

In [410]:
df.describe()

          order_id      shop_id      user_id  order_amount  total_items
count  4937.000000  4937.000000  4937.000000   4937.000000  4937.000000
mean   2499.551347    49.846465   849.752279    302.580514     1.994734
std    1444.069407    29.061131    86.840313    160.804912     0.982821
min       1.000000     1.000000   700.000000     90.000000     1.000000
25%    1248.000000    24.000000   775.000000    163.000000     1.000000
50%    2497.000000    50.000000   850.000000    284.000000     2.000000
75%    3751.000000    74.000000   925.000000    387.000000     3.000000
max    5000.000000   100.000000   999.000000   1760.000000     8.000000

In [411]:
x = df["order_amount"].value_counts().index.to_list()
y = df["order_amount"].value_counts().to_list()
fig = px.bar(x=x, y=y)
fig.show()

In [412]:
#The above graph is still heavily skewed so we drop outliers one more time
df = df[(np.abs(stats.zscore(df["order_amount"])) < 2)]
x = df["order_amount"].value_counts().index.to_list()
y = df["order_amount"].value_counts().to_list()
fig = px.bar(x=x, y=y)
fig.show()

In [413]:
aov = df["order_amount"].sum() / len(df)
aov

283.81426762346985

In [ ]:
#I can now confidently report an aov of 283.81

#Using Median
Another solution to outliers is to use the median instead of the mean because of the skew

In [414]:
df = pd.read_csv("https://raw.githubusercontent.com/HunterAshby/ShopifyInternChallenge/main/2019%20Winter%20Data%20Science%20Intern%20Challenge%20Data%20Set%20-%20Sheet1.csv")

In [415]:
#The idea is the find the medain order value and just report that

In [416]:
df["order_amount"].value_counts()

153    87
306    85
354    82
312    75
156    75
       ..
404     1
948     1
920     1
816     1
980     1
Name: order_amount, Length: 258, dtype: int64

In [417]:
#Here it is 153 as a median, however that seems a bit low to be representative of
#the aov, one possible solution could be to take the average of the top medians,
#or just drop the outliers like I did above

In [418]:
np.average(df["order_amount"].value_counts().nlargest(50).index.to_numpy())

254.76